
.DS_Store
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
*.xcuserstate
Utilities/Utilities/Classes/.DS_Store
Utilities/Utilities/Resources/.DS_Store
*.xcscheme
*.xcbkptlist
*.xcuserstate
